<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hangman</title>
  </head>
  <body>
    <form action="/" method="post">
      <ul class='wordContainer'>
        <li>{{word}}</li>
      </ul>
      <input type="text" class='guessArea' name="guess" placeholder="Make a guess">
      <button type="submit" name="guess-button">guess</button>
      <ul>
        <p>Previous Guesses</p>
        <li>{{failed-guesses}}</li>
      </ul>
    </form>
  </body>
</html>
