<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hangman</title>
  </head>
  <body>

    <ul  class='wordContainer'>
      {{#stringArr}}
      <li>{{letter}}</li>
      {{/stringArr}}
    </ul >
    <form action="/" method="post">
      <p>Make a Guess</p>

      <input type="text" class='guessArea' name="guessInput" value="" placeholder="Make a guess"/>

      <button type="submit">guess</button>
    </form>
    <ul>
      <p>Previous Guesses</p>
      {{#failedGuess}}
      <li>{{letter}}</li>
      {{/failedGuess}}
    </ul>
  </body>
</html>
