<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css"/>
    <title>Hangman</title>
  </head>
  <body class="container">
    <h1 class="headline">Hutch's Hangman</h1>
    <h3 class="rules-heading">Hello, welcome to Hutch's Hangman. There are only a couple of rules so let's go over them now. Please only enter one letter at a time. If you enter more than one letter, don't worry you will simply get a response to change your guess. You have 8 chances to get the correct word. Correct guesses will not be counted toward your overall guess count.</h3>

    <table class='wordContainer'>
      <tbody>
        <tr>
          {{#stringArr}}
          <td>{{letter}}</td>
          {{/stringArr}}
        </tr>
        <tr>
          {{#stringArr}}
          <td>{{letterGuess}}</td>
          {{/stringArr}}
        </tr>
      </tbody>
    </table >
    <form action="/hangman/youWon" method="post">
      <h1> You Won! </h1>
      <button class="playAgainButton" type="submit">Play Again</button>
    </form>
    <table class='wordContainer guessLetterContainers'>
      <tbody>
        <tr>
          {{#failedGuess}}
          <td>{{letter}}</td>
          {{/failedGuess}}
        </tr>
      </tbody>
    </table >
  </body>
</html>
